@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

*, *:before, *:after {
  box-sizing: inherit;
  //padding: 0;
  //margin: 0;
}
html, body {
  height: 100%;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  min-height: 100%;
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
}

h1 { font-size: 1.50em; }
h2 { font-size: 1.40em; }
h3 { font-size: 1.20em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.85em; }
h6 { font-size: 0.75em; }



h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}

a {
}

a:hover {
  text-decoration: underline;
}
blockquote {
  border-left: 0.25em solid #333;
  padding-left: 0.5em;
  margin-left: 0;
}

ul, ol {
  padding: 0 0 1rem 1rem;
  list-style-type: decimal;
  font-variant-numeric: tabular-nums;
}

pre code {
  display: block;
  border: 2px solid #e1e1e1;
  border-radius: 2px;
  padding: 1em;
  overflow-x: auto;
  direction: ltr !important;

}

img {
  max-width: 100%;
}

main {
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100%;
  background-color: white;

}

footer {

  border-top: 1px solid #f6f6f6;
  background-color: #fff;
  max-width: 650px;
  margin: 0 auto;
  color: #333;
  font-size: small;
}

.content h1 {
  margin-top: 0;
}
.list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: inherit;
  font-weight: inherit;
}
.list li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
}
time {
  font-variant-numeric: tabular-nums;
}

header {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
  padding: 0.2rem;
}

nav li {
  margin-right: .5em;
  display: inline;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: #505050;
}

.title {
display: none;
  margin-top: 2rem !important;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.content {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  word-wrap: break-word;
}

.content p a {
  text-decoration: underline;
}

.breadcrumbs li {
  display: inline;
  white-space: nowrap;
  padding-top: 0.5rem;
  font-size: small;

}

.breadcrumbs a{
  color: blue;

}

.breadcrumbs a:hover{
  color: blue;

}

.breadcrumbs li + li:before {
  content: ">" !important;
  padding: 0.1rem !important;
}

.post-footer {
padding-top: 0px;
padding-bottom: 0px;

}
.post-footer ul li{
	display: inline;
	margin-left: 5px;
}

.post-footer ul li::before{
	content: "#"
}

.page-header {
padding-top: 0px;
padding-bottom: 0px;
}

.rtl , .toc{
direction: rtl !important;
}

.details {
font-weight: bold ;
}

.toc ul li {
list-style: "- " ;
padding-right: 5px;
}

.post-tags{
padding-bottom: 0px !important;
margin-bottom: 0px !important;
padding-left: 0px;
font-size: small;
}

input#search {
  text-align: left !important;
  all: unset;
  background: #ffffff;
  color: black;
  font-weight: 500;
  font-size: large;
  padding: 0.6rem 0.6rem;
  border-radius: 0px;
  border: 2px solid #555;
  height: 1.5rem;
  width: 100%;
}

/**
.search {
  position: relative;
  margin: 0.5rem auto 1.2rem;
  display: flex;
  text-align: right;
}
**/
/**
button#clear-search {
  all: unset;
  position: absolute;
  right: 4px;
  top: 5px;
  height: 30px;
  width: 30px;
  color: #888;
  cursor: pointer;
  transition: color 180ms ease-in-out;
  display: none;
}
button#clear-search:hover {
  color: #333;
}
**/

.mainlist {
    display: flex !important;
    justify-content: space-between;
    align-items: baseline;
    }
    
    
.mainlink {

    overflow: hidden;
    text-overflow: ellipsis;

    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.mainhr {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    flex: 1 0 1rem;
    //opacity: .25;
}


.mainarabic {
	white-space: nowrap;
	font-size: small !important;
	text-decoration: none;

}


