{{ define "main" }}

<style>
  .breadcrumbs {
    display: none;
  }
  h3 {
    text-align: center;
    color: #040404;
    border-top: 2px solid #040404;
    border-bottom: 2px solid #040404;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .metadata li {
    border-bottom: 1px solid lightgray;
    padding: 2px;
  }
  small {
    font-weight: normal;
    }
  small a {
    font-weight: normal;
    color: black;

  }
</style>

{{ partial "metatable.html" .}}
{{ partial "audio.html" .}}
{{ .Content }}
{{ partial "footersingle.html" .}}
{{ end }}
