
{{ define "main" }}


<style>
.nvs {
}

</style>

<div class="soundcloud">
<iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1286726662&color=%23ff5500&inverse=true&auto_play=false&show_user=true"></iframe>
</div>

<!-- <ul class="nvs">

<li class="en-ar" style="border-right: 2px solid black;"><a  href="/"><h1>EN-AR</h1></a></li>
<li class="ar-en" style="border-right: 0px solid black;"><a href="/arabic"><h1>AR-EN</h1></a></li>

</ul> -->

<div class="rtl">
<ul class="metadata">
<li><small> المعنى الإنجليزي: {{- $enwords := .Language.Params.Taxonomies.enword | default "enwords" }}{{- range ($.GetTerms $enwords) }}
<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{- end }}
</small>
</li>

<li><small>باب: {{- $categories := .Language.Params.Taxonomies.category | default "categories" }}{{- range ($.GetTerms $categories) }}
<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{- end }}
</small>
{{- $translators := .Language.Params.Taxonomies.translator | default "translators" }}
<ul>
ترجمة :  {{- range ($.GetTerms $translators) }} 
<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
{{- end }}
</ul>
<li><small>مصدر الترجمة: {{- $citations := .Language.Params.Taxonomies.citation | default "citations" }}{{- range ($.GetTerms $citations) }}
<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{- end }}
</small>
</li>
</ul>

{{ .Content }}
</div>



<footer style="background: #040404; color: white;" class="post-footer">
{{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
<ul class="post-tags">
Tags :  {{- range ($.GetTerms $tags) }} 
<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
{{- end }}
</ul>

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}

{{- end }}
</footer>


{{ end }}
