<ul style="direction:rtl !important;" id=artlist>
  {{- range sort (where .Site.RegularPages ".Params.word" "=" "true") ".Params.arwords"  -}}
  
  <li id="myarticles" class="older-article">
    <div class="mainlist">
      
      <a style="" class="mainlink" href="{{.Permalink}}">
        <h1>{{.Params.arwords }}</h1>
      </a>

      <small style="color: #0388a6; text-decoration: none; direction:rtl !important; text-align:right !important;" class="mainlink" id="mini"> {{.Title }} </small>
      
    </div>
  </li>
  {{ end -}}
</ul>
