<ul id=artlist>
  {{- range (where .Site.RegularPages.ByTitle ".Params.unlisted" "!=" "true") -}}
  <li id="myarticles" class="older-article">
    <div class="mainlist">
      <a style="" class="mainlink" href="{{.Permalink}}">
        <h1>{{.Title}}</h1>
      </a>
      <!--<hr class="mainhr"> -->
      <small style="color: black;text-decoration: none; direction:rtl !important; text-align:left !important;" class="mainlink" href="{{ .RelPermalink }}"> {{.Params.arwords }} </small>
    </div>
  </li>
  {{ end -}}
</ul>
