{{ define "main" }}
  {{ .Content }}
<style>
  ul,
  ol {
    list-style-type: decimal;
  }
  .breadcrumbs {
    display: none;
  }

.sticky {  
  position: -webkit-sticky;
position: sticky;
top: 0;
}

.nvs li a{
padding: 0 !important;
text-decoration: none !important;
}
.en-ar {
background: #040404;
color: #fffefc;

}
</style>

{{ partial "search.html" . }}
<ul class="nvs" style="height: auto; border-bottom: 2px solid black;">
<li  class="en-ar" style="width: 50%; border-right: 2px solid black;"><a  href="/">إنجليزيــ > عربيــ</a></li>
<li style="width: 50%; border-right: 0px solid black;"><a href="/arabic">عربيــ > إنجليزيــ</a></li></ul> 

<!--<div class="sticky">



</div>-->
{{ partial "enlist.html" . }}
{{ end }}

